<app-navbar></app-navbar>

<section class="cover">
  <div class="homeContainer">
    <header>
      <h2
        style="
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  "
        class="alt"
      >
        <strong
          ><h1>I m in home</h1> <i class="fab fa-pagelines"></i>
          <br />
          Full Stack Engineer
        </strong>
      </h2>
      <p style="color: rgba(37, 36, 36, 0.85)">
      
        And by night...well, a passionate illustrator and video gamer!
      </p>
    </header>

    <app-about></app-about>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-education></app-education>
    <app-contact></app-contact>

    <footer>
      <a href="#portfolio" class="button scrolly">Get to know me!</a>
    </footer>
  </div>
</section>
